{% extends 'admin_site/base.html' %}


{% block content %}
<label for="">Overall Transaction</label>
<input type="text" style="font-weight: bolder;" value="{{ list_numberorder }}"  class="form-control" disabled>
<br>
<label for="">Pending Order</label>
<input type="text" style="font-weight: bolder;" value="{{ transaction_pending }}"  class="form-control" disabled>
<br>
<label for="">Out for Delivery</label>
<input type="text" style="font-weight: bolder;" value="{{ transaction_shipped }}"  class="form-control" disabled>
<br>
<label for="">Decline Order</label>
<input type="text" style="font-weight: bolder;" value="{{ transaction_decline }}"  class="form-control" disabled>
<br>


    

{% endblock content %}
    