{% extends 'admin_site/base.html' %}

{% block template %}


    {% if list_inquiry %}
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Contact No</th>
                <th>Address</th>
                <th>Email</th>
                <th>Valid ID</th>
                <th>Business Permit</th>
                <th>Status</th>
                <th>action</th>
            </tr>
            <tbody>
                
                {% for list in list_inquiry %}
                <tr>
                    <td>{{ list.reseller_fname }}</td>
                    <td>{{ list.reseller_mname }}</td>
                    <td>{{ list.reseller_lname }}</td>
                    <td>{{ list.reseller_gender }}</td>
                    <td>{{ list.reseller_contact }}</td>
                    <td>{{ list.reseller_address }}</td>
                    <td>{{ list.reseller_email }}</td>
                    <td><a href="{% url 'admin_site:viewing_pic' list.id %}"><img src="/media/{{ list.reseller_id}}" alt="Valid-ID" width="50" class="rounded-circle"></a></td>
                    <td><a href="{% url 'admin_site:viewing_pic' list.id %}"><img src="/media/{{ list.reseller_businessp}}" alt="Valid-ID" width="50" class="rounded-circle"></a></td>
                    <td>{{ list.reseller_status }}</td>
                    <td><a href="{% url 'admin_site:register' list.id %}" class="btn btn-dark">Approved</a></td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>
    {% endif %}
{% endblock template %}

    