{% extends 'admin_site/base.html' %}

{% block template %}

<main id="main" class="main mt-5">
    <div class="pagetitle">
        <h1>Requests</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'admin_site:dashboard'%}">Home</a></li>
                <li class="breadcrumb-item">User Accounts</li>
                <li class="breadcrumb-item active">Requests</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body mt-3">
                        <div class="add-product mb-4">
                            <h5 class="card-title feature">Requests</h5>
                            <!-- <a href="{% url 'admin_site:add_reseller' %}" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#addReseller"><i class="ri-add-line align-middle me-2 text-end" style="font-size:17px; font-weight: 500;"></i><span class="align-middle pe-1">Add a New Reseller</span></a> -->
                            <form class="search-tab" action="{% url 'admin_site:search_reseller' %}" method="GET"  class="text-end px-4">
                                {% csrf_token %}
                                <input type="text" class="form-control p-2 ps-3" name="search" placeholder="Search">
                                <button class="btn btn-search btn-sm" type="submit"><i class="ri-search-line"></i></button>
                            </form>  
                        </div> 

                        <!-- Table with hoverable rows -->
                        {% if list_inquiry %}
                        <table class="table table-hover table-responsive">
                            <thead>
                            <tr class="align-middle">
                                <th scope="col">First Name</th>
                                <th scope="col">Middle Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Sex</th>
                                <th scope="col">Contact No</th>
                                <th scope="col" >Address</th>
                                <th scope="col" >Email</th>
                                <th scope="col" >Valid ID</th>
                                <th scope="col" >Business Permit</th>
                                <th scope="col" >Status</th>
                                <th scope="col" >Action</th>
                            </tr>
                            </thead>

                            <tbody>
                                {% for list in list_inquiry %}
                                <tr class="align-middle">
                                    <td>{{ list.reseller_fname }}</td>
                                    <td>{{ list.reseller_mname }}</td>
                                    <td>{{ list.reseller_lname }}</td>
                                    <td>{{ list.reseller_gender }}</td>
                                    <td>{{ list.reseller_contact }}</td>
                                    <td>{{ list.reseller_address }}</td>
                                    <td>{{ list.reseller_email }}</td>
                                    <td><a href="{% url 'admin_site:viewing_pic' list.id %}"><i class="ri-eye-fill btn-edit"></i></a></td>
                                    <td><a href="{% url 'admin_site:viewing_pic' list.id %}"><i class="ri-eye-fill btn-edit"></i></a></td>
                                    <!-- <td><a href="{% url 'admin_site:viewing_pic' list.id %}"><img src="/media/{{ list.reseller_id}}" alt="Valid-ID" width="50" class="rounded-circle"></a></td>
                                    <td><a href="{% url 'admin_site:viewing_pic' list.id %}"><img src="/media/{{ list.reseller_businessp}}" alt="Valid-ID" width="50" class="rounded-circle"></a></td> -->
                                    <td><span class="badge rounded-pill bg-primary">{{ list.reseller_status }}</span></td>
                                    <td>
                                        <form method="POST" action="" onsubmit="return submitForm(this);">
                                            <a href="{% url 'admin_site:register' list.id %}" class="btn btn-edit" ><i class="ri-checkbox-circle-fill"></i></a>
                                            <!-- <a href="{% url 'admin_site:register' list.id %}" class="btn btn-edit"><i class="ri-checkbox-circle-fill"></i></a> -->
                                            {% csrf_token %}
                                            <!-- <input type="submit" class="btn btn-dark" value="Archive"> -->
                                            <button name="submit" class="btn btn-archive"><i class="ri-archive-fill"></i></button>
                                            <!-- <a href="" type="submit" class="btn btn-archive"><i class="ri-archive-fill"></i></a> -->
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        <!-- End Table with hoverable rows -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock template %}

    