
{% extends 'admin_site/base.html' %}




{% block content %}
{% load static %}


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- <script>
    {% for message in messages %}
         swal('{{ message }}');
    {% endfor %}
</script> -->
{% for message in messages %}

<p class="alert alert-success mt-3">{{ message }}</p>
{% endfor %}
<a href="{% url 'admin_site:all_products' %}" class="btn btn-dark">Select Products</a>
{% if list_pos %}

    <br>
    <form action="{% url 'admin_site:search_product' %}" method="get" class="my-3 ">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="search" required>
            <div class="input-group-append">
                <button class="btn btn-success">Search</button>
            </div>
        </div>
    </form>
    
    {% if user.role == "admin" %}
    <a href="{% url 'admin_site:click_receipt' %}">Recent Activity</a>
     {% elif  user.role == "staff"%} 
     <a href="{% url 'admin_site:click_receipt' %}">Recent Activity</a>
    {% endif %}

    
    
    
        
    
  


    <table class="table table-hover text-center" >
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Unit</th>

                
                {% if user.role == "reseller" %}
                <th>Reseller Price</th>
                {% endif %}

                
                {% if user.role == "admin" %}
                <th>Price</th>
                {% elif user.role == "staff"  %}
                <th>Price</th>
                {% endif %}
                    
                <th>quantity</th>

                <th>Amount</th>
                <th>Action</th>
                <th></th>
                <th></th>
             
            </tr>
         
            <tbody>
                
                {% for list in  list_pos %}       
                <tr>
                    <td>{{ list.pos_pcode }}</td>
                    <td>{{ list.pos_name }}</td>
                    <td>{{ list.pos_category }}</td>
                    <td>{{ list.pos_unit }}</td>

                    {% if user.role == "reseller" %}
                    <td>{{ list.pos_reseller_price }}</td>
                        
                    {% endif %}
                 

                    {% if user.role == "admin" %}
                    <td>{{ list.pos_price}}</td>
                    {% elif user.role == "staff" %}
                    <td>{{ list.pos_price}}</td>
                    {% endif %}

                    
                
                
               

           
                    <td>
                        <a href="{% url 'admin_site:minus_qty' list.id  %}" class="btn btn-dark">-</a> <button
                            class="btn btn-success">{{ list.pos_quantity }}</button> <a href="{% url 'admin_site:add_qty' list.id  %}"
                            class="btn btn-dark">+</a>
                    </td>

                   
                        
                    <td>{{ list.pos_amount }} </td>
                
                    <form method="POST" action="{% url 'admin_site:pos_cancel' list.id %}" onsubmit="return submitForm(this);">
                        {% csrf_token %}
                        <td><button type="submit" class="btn btn-dark">Cancel</button></td>
                        <input type="hidden" name="current_pcode" value="{{ list.pos_pcode }}">
                        <input type="hidden" name="current_qty" value="{{ list.pos_quantity }}">
                        <input type="hidden" name="pos_id" value="{{ list.id}}" id="pos_id">
                
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        
        </thead>
    </table>
    {% endif %}

    <br>

    

    
  
    
    {% if list_pos %}         



    
          
   
        {% if user.role == "admin"%} 
        
        <form action="{% url 'admin_site:add_receipt' %}" method="POST" id="form" >
        {% csrf_token %}
        <label style="font-weight: bolder;">Total Amount:</label>
        <input type="number" name="total_amount" style="font-weight: bolder;" value="{{ sum_amount }}" class="form-control" id="total_amount"   readonly="readonly"> 
       
        <!-- <input type="text" id="total_amount"> -->
         
        <label for="">Cash</label>
        <p id="msg" style=" display:none;"></p>
        <input type="number" name="cash"  class="form-control"  id="cash" required>
    
        <label for="">Change</label>
        <input type="number" name="change" class="form-control" id="change"  readonly="readonly">
        <input type="hidden" name="get_id" id="get_id">

        <div class="text-center pt-2" >
        <button id="btn_compute" class="btn btn-success" >compute</button>
        <button  class="btn btn-success"id="btn-receipt" hidden>Receipt</button>
        </div>

        </form>
        
        


         {% elif user.role == "staff" %}
         <form action="{% url 'admin_site:add_receipt' %}" method="POST" id="form" >
            {% csrf_token %}
            <label style="font-weight: bolder;">Total Amount:</label>
            <input type="number" name="total_amount" style="font-weight: bolder;" value="{{ sum_amount }}" class="form-control" id="total_amount"   readonly="readonly"> 

            <!-- <input type="text" id="total_amount"> -->

            <label for="">Cash</label>
            <p id="msg" style=" display:none;"></p>
            <input type="number" name="cash"  class="form-control"  id="cash" required>
        
            <label for="">Change</label>
            <input type="number" name="change" class="form-control" id="change"  readonly="readonly">
            <input type="hidden" name="get_id" id="get_id">
    
            <div class="text-center pt-2" >
            <button id="btn_compute" class="btn btn-success" >compute</button>
            <button  class="btn btn-success"id="btn-receipt" hidden>Receipt</button>
            </div>
    
            </form>
            
            

        {% endif %}
        <br>

    {% endif %}
    
    
    

    
   
    <script>
      
        function submitForm(form) {
            swal({
                title: "Are you sure?",
                text: "This Product will be cancelled",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then(function (isOkay) {
                if (isOkay) {
                    form.submit();
                }
            });
            return false;
        }
    </script>




<script src="{% static 'js/pos.js' %}"></script>


{% endblock content %}





    


    