
{% extends 'admin_site/base.html' %}




{% block content %}
{% load static %}


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- <script>
    {% for message in messages %}
         swal('{{ message }}');
    {% endfor %}
</script> -->
{% for message in messages %}

<p class="alert alert-success mt-3">{{ message }}</p>
{% endfor %}
<a href="{% url 'admin_site:all_products' %}" class="btn btn-dark">Select Products</a>
{% if list_pos %}

    <br>
    <form action="{% url 'admin_site:search_product' %}" method="get" class="my-3 ">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="search" required>
            <div class="input-group-append">
                <button class="btn btn-success">Search</button>
            </div>
        </div>
    </form>
    
 
    
    
    
        
    
  


    <table class="table table-hover text-center" >
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th></th>
                <th></th>

            </tr>

            <tbody>
                
                {% for list in  list_pos %}       
                <tr>
                    <td>{{ list.pos_pcode }}</td>
                    <td>{{ list.pos_name }}</td>
                    <td>{{ list.pos_category }}</td>
                    <td>{{ list.pos_unit }}</td>
                    <td>{{ list.pos_reseller_price }}</td>
                        
                    <td>
                        <a href="{% url 'reseller_site:minus_qty' list.id  %}" class="btn btn-dark">-</a> <button
                            class="btn btn-success">{{ list.pos_quantity }}</button> <a href="{% url 'reseller_site:add_qty' list.id  %}"
                            class="btn btn-dark">+</a>
                    </td>

                    <td>{{ list.pos_ResellerAmount}} </td>
                
                    <form method="POST" action="{% url 'reseller_site:cart_cancel' list.id %}" onsubmit="return submitForm(this);">
                        {% csrf_token %}
                        <td><button type="submit" class="btn btn-dark">Cancel</button></td>
                        <input type="hidden" name="current_pcode" value="{{ list.pos_pcode }}">
                        <input type="hidden" name="current_qty" value="{{ list.pos_quantity }}">
                        <input type="hidden" name="pos_id" value="{{ list.id}}" id="pos_id">
                
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        
        </thead>
    </table>
    {% endif %}

    <br>






    
    
    {% if list_pos %}


    <label style="font-weight: bolder;">Total Amount:</label>
    <input type="text" name="amount"  style="font-weight: bolder;" value="{{ sum_amount}}" class="form-control" id="total_amount" disabled>
    <br>
    <div class="text-end">
    <a href="{% url 'reseller_site:cart_reseller' %}" class="text-end  btn btn-dark">Checkout</a>
    </div>
   

    {% endif %}

    
   
    <script>
      
        function submitForm(form) {
            swal({
                title: "Are you sure?",
                text: "This Product will be cancelled",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then(function (isOkay) {
                if (isOkay) {
                    form.submit();
                }
            });
            return false;
        }
    </script>




<script src="{% static 'js/pos.js' %}"></script>


{% endblock content %}





    


    