{% extends 'admin_site/base.html' %}


{% block content %}
{% if list_transaction %} 
{% for message in messages %}

<p class="alert alert-success mt-3">{{ message }}</p>
{% endfor %}



<form action="" method="GET" class="my-3 ">
    {% csrf_token %}
    <div class="input-group">
        <input type="text" class="form-control" name="search" placeholder="search" required>
        <div class="input-group-append">
            <button class="btn btn-success" type="submit">Search</button>
        </div>
    </div>
</form>






    <table class="table table-hover text-center" >
        <thead>
            <tr>
               <th>Order Date</th>
               <th>Transaction Number</th>
               <th>Total Price</th>
               <th>Status</th>
               <th>Action</th>
            </tr>
        </thead>
        

        <tbody>
            {% for list in list_transaction %}
            <tr>
                <td>{{ list.created_at}}</td>
                <td>{{ list.transaction_no }}</td>
                <td>{{ list.transaction_totalprice }}</td>
                <td>{{ list.transaction_orderstatus }}</td>

                <form action="{% url 'rider_site:transaction_view' list.id %} " method="GET">
                    {% csrf_token %}
                     <td><input type="submit" class="btn btn-dark" value="View"></td>
              
                </form>

              

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock content %}