{% extends 'admin_site/base.html' %}


{% block content %}

{% if list_orderitem %}

       
    
<table class="table table-hover text-center">
    
    <p class="fw-bolder">Order Details</p>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Category</th>
            <th>Product Size</th>
            <th>Quantity</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
    
        {% for list in list_orderitem %}
        <tr>
            <td>{{ list.OrderItem_name }}</td>
            <td>{{ list.OrderItem_category }}</td>
            <td>{{ list.OrderItem_unit}}</td>
            <td>{{ list.OrderItem_quantity}}</td>
            <td>{{ list.OrderItem_amount }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <div class="text-end px-5">
        <label style="font-weight: bolder;" > Grand Total:    {{ list_total.data }} </label><br>
        <label style="font-weight: bolder;" > Transaction No:    {{  list_transaction.transaction_no}} </label>
 
        
       
    </div>
    <br>
    <br>
   


        
        <div class="container-fluid">
        <h1 class="text-center">Shipping Details</h1>

        <label for="">First Name</label>
        <input type="text"class="form-control" value="{{ list_transaction.transaction_fname }}" disabled>
        <br> 

        <label for="">Last Name</label>
        <input type="text"  value="{{ list_transaction.transaction_lname }}" class="form-control" disabled>
        <br> 
        <label for="">Address</label>
        <input type="text"  value="{{ list_transaction.transaction_address }}" class="form-control" disabled>
   
        <br>
        <label for="">contact No</label>
        <input type="text"   value="{{ list_transaction.transaction_contactno }}"class="form-control" disabled>

        <br> 
        <label for="">Delivery option</label>
        <input type="text" value="{{ list_transaction.transaction_doption }}" class="form-control" disabled>
        <br>
      
        <form action="{% url 'rider_site:completed_process' %}" method="POST" class="text-end">
            {% csrf_token %}
            <input type="hidden" value="{{ list_transaction.transaction_no}}" name="transaction_no">
            <button class="btn btn-dark">Delivered</button>
        </form>
        <br>
        <br>
        <br>



  
      
   
    </div>
{% endif %}    

{% endblock content %}
    