{% extends 'admin_site/base.html' %}

{% block content %}

<main id="main" class="main mt-5">
    <div class="pagetitle">
        <h1>Products</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'admin_site:dashboard'%}">Home</a></li>
                <li class="breadcrumb-item active">Products</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

        {% for message in  messages %}
        <p class="alert alert-success  mt-3">{{ message }}</p>
        {% endfor %}

        <section class="section ">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body mt-3">
                            <div class="add-product mb-4">
                                <h5 class="card-title feature">All Products</h5>
                                <a href="{% url 'admin_site:add_product' %}" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#addProductModal"><i class="ri-add-line align-middle me-2 text-end" style="font-size:17px; font-weight: 500;"></i><span class="align-middle pe-1">Add a New Product</span></a>
                                <form class="search-tab" action="{% url 'admin_site:search_product' %}" method="GET"  class="text-end px-4">
                                    {% csrf_token %}
                                    <input type="text" class="form-control p-2 ps-3" name="search" placeholder="Search">
                                    <button class="btn btn-search btn-sm" type="submit"><i class="ri-search-line"></i></button>
                                </form>  
                            </div> 

                            <div class="modal fade border-0" id="addProductModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered ">
                                    <div class="modal-content border-0 p-4">
                                        <div class="modal-header border-0">
                                            <h1 class="modal-title" id="exampleModalLabel">New Product</h1>
                                            <button type="button" class="ri-close-fill" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        {% for message in  messages %}
                                        <p class="alert alert-success  mt-1">{{ message }}</p>
                                        {% endfor %}
                                        <form action="{% url 'admin_site:add_product' %}" method="POST">
                                                {% csrf_token %}
                                                <div class="modal-body pt-2 mt-0">
                                                    <!-- {% for message in  messages %}
                                                        <p class="alert alert-success  mt-1">{{ message }}</p>
                                                    {% endfor %}
                                                    <form action="{% url 'admin_site:add_product' %}" method="POST">
                                                            {% csrf_token %} -->
                                                        <label for="product_name">Product Name</label>
                                                        <input type="text" placeholder="" name="product_name" class="form-control" required>
        
                                                        <label for="product_name">Product Category</label>
                                                        <input type="text" placeholder="" name="category" class="form-control" required>
        
                                                        <label for="product_name">Unit</label>
                                                        <input type="text" placeholder="" name="unit" class="form-control" required>
        
                                                        <label for="product_name">Reseller Price</label>
                                                        <input type="number" placeholder="" name="reseller_price" min="0" class="form-control" required>
        
                                                        <label for="product_name">POS Price</label>
                                                        <input type="number" placeholder="" name="price" min="0" class="form-control" required>
                                                    <!-- </form> -->
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <!-- <button type="submit" class="btn btn-primary" value="Add Product"><i class="ri-check-fill"></i>Add Product</button> -->
                                                    <button type="submit" class="btn btn-primary me-2"><i class="ri-check-line align-middle me-2 text-end" style="font-size:17px;"></i><span class="align-middle pe-1">Add</span></button>
                                                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal"><i class="ri-close-line align-middle me-2 text-end" style="font-size:17px;"></i><span class="align-middle pe-1">Cancel</span></button>
                                                </div>
                                        </form>    
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Table with hoverable rows -->
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr class="align-middle">
                                        <th scope="col">Product Code</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Product Category</th>
                                        <th scope="col">Unit</th>
                                        <th scope="col">Reseller Price</th>
                                        <th scope="col" >POS Price</th>
                                        <th scope="col" >Available Stock</th>
                                        <th scope="col" >Status</th>
                                        <th scope="col" >Action</th>
                                    </tr>
                                    </thead>
                                    {% if list_products %}
                                    <tbody>
                                        {% for list in list_products %}
                                        <tr class="align-middle">
                                            <td><a href="{% url 'admin_site:view_product' list.id %}" id="viewProductModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" class="text-decoration-none"><span >{{ list.product_code }}</span></a></td>
                                            <td>{{ list.product_name }}</td>
                                            <td>{{ list.product_category }}</td>
                                            <td>{{ list.product_unit }}</td>
                                            <td>{{ list.product_ResellerPrice }}</td>
                                            <td>{{ list.product_price }}</td>
                                            <td>{{ list.product_stock }}</td>
                                            <td><span class="badge rounded-pill bg-primary">{{ list.product_status }}</span></td>
                                        <td>
                                            <form class="action"  method="POST">
                                                <a href="#"class="btn btn-edit"><i class="ri-edit-fill"></i></a>
                                            </form>
                                        </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                            <!-- End Table with hoverable rows -->
                        </div>
                    </div>
                </div>
            </div>
        </section>






<!-- {% for message in  messages %}
<p class="alert alert-success  mt-3">{{ message }}</p>
{% endfor %}

<a href="{% url 'admin_site:add_product' %}" class="btn btn-dark">Add Product</a>
<form action="{% url 'admin_site:search_product' %}" method="GET" class="my-2">
    {% csrf_token %}
    <div class="input-group">
        <input type="text" class="form-control" name="search" placeholder="search" required>
        <div class="input-group-append">
            <button class="btn btn-success" type="submit">Search</button>
        </div>
    </div>
</form>


        
<table class="table table-hover text-center">
    
    <thead>
    <tr>
        <th>Product code </th>
        <th>Product Name</th>
        <th>Category</th>
        <th>Unit</th>
        <th>Reseller Price</th>
        <th>Pos Price</th>
        <th>Available Stock</th>
        <th>Status</th>

        

    </tr>
    </thead>
    {% if list_products %}
    <tbody>
        
        {% for list in list_products %}   
    <tr>
        <td><a href="{% url 'admin_site:view_product' list.id %}" class="text-decoration-none">{{ list.product_code }}</a></td>
        <td>{{ list.product_name }}</td>
        <td>{{ list.product_category }}</td>
        <td>{{ list.product_unit }}</td>
        <td>{{ list.product_ResellerPrice }}</td>
        <td>{{ list.product_price }}</td>
        <td>{{ list.product_stock }}</td>
        <td>{{ list.product_status }}</td>
    </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table> -->

</main>

{% endblock content %}
    